/*--------
     Reset
--------*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color:#f6f8f9;
    font-family: 'Roboto', sans-serif;
}

/*--------
    Header
--------*/
header {
    background-color: white;
    padding: 10px 20px;
    margin-bottom: 30px;
}

h1 {
    display: inline-block;
    vertical-align: middle;
}

.logo {
    vertical-align: middle;
}


/*--------
      Main
--------*/
.container {
    background: white;
    max-width: 800px;
    margin: auto;
    width: 50%;
    padding: 20px;

}

.buttonnav {
    
    box-sizing: border-box;
    background-color: white;
    color: #f6f8f9;
    border-width: 1px;
    border-style: solid;
    border-color: #f6f8f9;
    border-radius: 4px;
    padding: 6px;
    width: 90px;
    height: 30px;
    margin-bottom: 2px;
}

#bluebutton {
    background-color: #45ABEA;
    color: white;
}
#container2{
    margin-top: 7px;
}

/* Check e Cross */
.circle {
    display: inline-block;
    height: 20px;
    width: 20px;
    border-width: 1px;
    border-style: solid;
    border-radius: 50%;
    text-align: center;
}

.circle-check {
    color: green;
    border-color: green;
}

.circle-cross {
    color: red;
    border-color: red;
}

span{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;

}

/* Bottoni argomenti */

.button-argomenti {
    box-sizing: content-box;
    background-color: #45ABEA;
    color: #f6f8f9;
    border-width: 1px;
    border-style: solid;
    border-radius: 12px;
    padding: 6px;
    width: 60px;
    height: 15px;  
}

#violet{
    background-color: #9C72E4;
}

#green{
    background-color: #64C0A9;   
}

#orange{
    background-color: #F29E33;   
}

#pink{
    background-color: #D863A1;   
}

#lightgreen{
    background-color: #B0C926;
}