/*--------
     Reset
--------*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color:#f6f8f9;
    font-family: 'Roboto', sans-serif;
}

/*--------
    Header
--------*/
header {
    background-color: white;
    padding: 10px 20px;
    margin-bottom: 30px;
}

h1 {
    display: inline-block;
    vertical-align: middle;
}

.logo {
    vertical-align: middle;
}


/*--------
      Main
--------*/
.container {
    background: white;
    max-width: 800px;
    margin: auto;
    width: 50%;
    padding: 20px;

}

.buttonnav {
    
    box-sizing: border-box;
    background-color: white;
    color: #f6f8f9;
    border-width: 1px;
    border-style: solid;
    border-color: #f6f8f9;
    border-radius: 4px;
    padding: 6px;
    width: 90px;
    height: 30px;
    margin-bottom: 6px;
}

#bluebutton {
    background-color: #45ABEA;
    color: white;
}
